{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<script src="{% static 'js/matchmaking.js' %}"></script>

<h1>Welcome to the Coding Match</h1>
<h4 class="text-center">Welcome, {{ user.username }}</h4>

<!-- Display the player's rank -->
<p>Your current rank: {{ player.rank }}</p>

<button id="start-match-button">Start Match</button>
<p id="status-text"></p> 
{% endblock %}
