# asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
# blinker @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/blinker_1699474692786/work
# Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
#certifi @ file:///C:/b/abs_59o0xj7aav/croot/certifi_1734473304008/work/certifi
#cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work 
channels==4.1.0
#charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
#cryptography @ file:///C:/b/abs_35g500qir4/croot/cryptography_1724940575116/work
#defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dj-database-url==2.3.0
Django==5.1.2
django-ckeditor==6.7.2
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1734947229205/work
django-extensions @ file:///home/conda/feedstock_root/build_artifacts/django-extensions_1685993622656/work
django-grappelli==4.0.1
django-jet==1.0.8
django-js-asset==3.0.1
django-suit==0.2.28
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
oauthlib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/oauthlib_1699485031206/work
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///C:/b/abs_04qhgo75wz/croot/pyjwt_1715095119685/work
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
python3-openid @ file:///tmp/build/80754af9/python3-openid_1614366121783/work
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
requests-oauthlib @ file:///C:/b/abs_faw0a7_wag/croot/requests-oauthlib_1720615036938/work
setuptools==72.1.0
social-auth-app-django @ file:///home/conda/feedstock_root/build_artifacts/social-auth-app-django_1720808714904/work
social-auth-core @ file:///home/conda/feedstock_root/build_artifacts/social-auth-core_1714054336498/work
sqlparse @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/sqlparse_1699544474746/work
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
wheel==0.43.0
whitenoise==6.8.2
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
