.container-fluid{
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: centre;
    align-items: centre;
}

.container-fluid > div {
    width: 85%;
    min-width:300px;
    max-width: 500px;

}

.card{
    width: 100%;
}

.social-container {
    display: flex;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none;
}
.status-text{
    color: white;
}